<h1>準備中</h1>
<p>ここに簡単なマニュアルを作る予定。</p>


<div class="container">
  <div class="row">
    <div class="col-sm-6 primary">
      bootstrapのテスト
    </div>
    <div class="col-sm-6">
      要素2つ目
    </div>
  </div>
</div>