<h1>入退室一覧</h1>

<table border='1'>
  <caption>入退室記録</caption>
  <thead>
    <tr><th>名前</th><th>入室時間</th><th>退室時間</th></tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= User.find_by(id:record.user_id).name %></td>
        <td><%= record.created_at %></td>
        <td><%= record.exit_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="/">ホームに戻る</a>




